<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="survey">
	<sql id="search">
		<choose>
			<when test="list_gubun == 'ing'">
				and current_timestamp between start_date and last_date 
			</when>
			<when test="list_gubun == 'end'">
				<![CDATA[
				and current_timestamp > last_date 
				]]>
			</when>
		</choose>
		<if test="search_option != null and search_data != null and search_option != '' and search_data != ''">
			and ${search_option} like '%' || #{search_data} || '%' 
		</if>
		<if test="search_date_check == 0 and search_date_s != null and search_date_e != null and search_date_s != '' and search_date_e != ''">
			<![CDATA[
				and (start_date >= to_timestamp(#{search_date_s}) and last_date <= to_timestamp(#{search_date_e}))
			]]>
		</if>
	</sql>
	
	<insert id="insertSurvey">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select seq_survey.nextVal from dual
		</selectKey>
		insert into ${table_1}(no, question, ans1, ans2, ans3, ans4, status, start_date, last_date, regi_date)
		values(#{no}, #{dto.question}, #{dto.ans1}, #{dto.ans2}, #{dto.ans3}, #{dto.ans4}, #{dto.status}, to_timestamp(#{dto.start_date}), to_timestamp(#{dto.last_date}), current_timestamp)
	</insert>

	<select id="getListAll" resultType="survey.model.dto.SurveyDTO">
		select * from (select b.*, rownum rnum from (
		select t1.*, (select count(*) from survey_answer t2 where t2.no = t1.no) survey_counter
		from survey t1 where 1=1 
		
		<include refid="search"></include>
		
		order by no desc
		<![CDATA[
			) b) where rnum between #{startRecord} and #{lastRecord}
		]]>
	</select>

	<select id="getTotalRecord" resultType="int">
		select count(*) from ${table_1} where 1=1 
		<include refid="search"></include>
	</select>
	
	<select id="getSelectOne" resultType="survey.model.dto.SurveyDTO">
		select * from ${table_1} where no = #{dto.no}
	</select>
	
	<update id="updateSurvey">
		update ${table_1} set
		question = #{dto.question}, ans1 = #{dto.ans1}, ans2 = #{dto.ans2}, ans3 = #{dto.ans3}, ans4 = #{dto.ans4}, status = #{dto.status}, start_date = #{dto.start_date}, last_date = #{dto.last_date}, regi_date = current_timestamp
		where no = #{dto.no}
	</update>
	
	<delete id="deleteSurvey">
		delete from ${table_1} where no = #{dto.no}
	</delete>
	
	<insert id="insertSurveyAnswer">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select seq_survey_answer.nextVal from dual
		</selectKey>
		insert into ${table_2}
		(answer_no, no, answer, regi_date)
		values
		(#{no}, #{dto.no}, #{dto.answer}, current_timestamp)
	</insert>
</mapper>